{% extends 'base.html.twig' %}

{% block title %}Test Seite{% endblock %}

{% block body %}

    <div class="header">
        <div class="Logo">
            <span>TE</span>
            <span>ST</span>
        </div>
        <div class="header-links">
            <a>PRODUCT</a>
            <a>CONTACT</a>
        </div>
    </div>

    <div class="main">
        <h1>{{title}}</h1>
        <span>Learn Project</span>
    </div>


    <div class="site-deko"></div>

    <div class="site-name">
        <div class="site-name-line"></div>
        <span>M</span>
        <span>E</span>
        <span>I</span>
        <span>K</span>
        <div class="site-name-line"></div>
    </div>


{% endblock %}
