{% extends 'base.html.twig' %}
{% block body %}
    <div class="info-container">
        <h2>Meine Erfahrungen und Lernziele aus diesem Projekt:</h2>
        <ul>
            <li>Symfony Installation</li>
            <li>Wie Controller funtionieren</li>
            <li>Routing</li>
            <li>Twig Templates</li>
            <li>Twig Template Inheritance</li>
            <li>Twig Control Structures (if/for)</li>
            <li>Twig Filters & Functions</li>
            <li>Generating Links to Routes</li>
            <li>Symfony Profiler</li>
        </ul>
    </div>
{% endblock %}
